* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Public Sans", sans-serif;
  width: 100%;
  font-size: 18px;
  background-color: hsl(220, 16%, 96%);
  color: hsl(233, 8%, 62%);
  line-height: 1.5em;
}

p {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  padding: 10px;
  line-height: 1.5em;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.5s;
}

h4:hover {
  color: hsl(136, 65%, 51%);
}

h5 {
  font-size: 0.6em;
  color: hsl(233, 8%, 62%);
}

#menu1 {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 120px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  top: 0;
  position: fixed;
  padding: 0 50px;
}

#menu1 .nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 30px;
}

#menu1 .nav li {
  display: inline;
  list-style: none;
  margin: 15px;
  font-size: 14px;
}

#menu1 .nav a {
  display: inline-block;
}

#menu1 li > a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  transition: color 1s;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

#menu1 li > a:hover {
  color: hsl(233, 26%, 24%);
  text-decoration: none;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(70deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-image-slice: 1;
  padding-bottom: 46px;
}

#menu1 #logoNav {
  padding-top: 50px;
}

#menu1 #buttonNav {
  margin-top: 35px;
}

#menu2 {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 120px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  top: -120px;
  position: fixed;
  padding: 0 50px;
}

#menu2 .nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 30px;
}

#menu2 .nav li {
  display: inline;
  list-style: none;
  margin: 15px;
  font-size: 14px;
}

#menu2 .nav a {
  display: inline-block;
}

#menu2 li > a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  transition: color 1s;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

#menu2 li > a:hover {
  color: hsl(233, 26%, 24%);
  text-decoration: none;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(70deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-image-slice: 1;
  padding-bottom: 46px;
}

#menu2 #logoNav {
  padding-top: 50px;
}

#menu2 #buttonNav {
  margin-top: 35px;
}

#hamburger {
  cursor: pointer;
}

header {
  padding-left: 5%;
  padding-right: 0%;
  background-image: url(images/bg-intro-desktop.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right -150% bottom 50%;
  background-size: auto;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 98%);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#image {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 0;
  margin-left: 0;
  height: auto;
}

#imagePrincipale {
  margin-top: -15%;
  margin-right: -20%;
  margin-bottom: -20%;
  width: 90%;
}

.intro {
  width: 30%;
}

#choose {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#reasons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#reasons > div {
  width: 20%;
  margin: 20px;
}

#article {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(0, 0%, 98%);
}

#divArticle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#divArticle > div {
  width: 20%;
  margin: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

#divArticle > div > p {
  font-size: 0.8em;
}

.imageArticle {
  border-radius: 10px 10px 0px 0px;
}

.icone {
  margin-left: 20px;
}

footer {
  height: 200px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(233, 26%, 24%);
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

footer > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer > div > a {
  transition: all 0.5s;
  cursor: pointer;
  padding: 10px;
}

footer > div > a:hover {
  color: hsl(136, 65%, 51%);
}

#reseauxSociaux {
  width: 150px;
  padding: 10px;
}

.logoReseauxSociaux {
  fill: hsl(0, 0%, 100%);
  transition: all 1s;
}
.logoReseauxSociaux:hover {
  fill: hsl(136, 65%, 51%);
}

#logoFooter {
  width: 200px;
  padding: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.button {
  color: hsl(0, 0%, 100%);
  background: linear-gradient(70deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 50px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 980px */
@media all and (max-device-width: 480px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Public Sans", sans-serif;
    width: 100%;
    font-size: 18px;
    background-color: hsl(220, 16%, 96%);
    color: hsl(233, 8%, 62%);
    line-height: 1.5em;
  }

  p {
    padding: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Public Sans", sans-serif;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    padding: 10px;
    line-height: 1.5em;
  }

  h1 {
    font-size: 2.2em;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  }

  h3 {
    font-size: 1.8em;
    text-align: center;
  }

  h4 {
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.5s;
  }

  h4:hover {
    color: hsl(136, 65%, 51%);
  }

  h5 {
    font-size: 0.6em;
    color: hsl(233, 8%, 62%);
  }

  #menu1 {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 120px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    top: -120px;
    position: fixed;
    padding: 0 50px;
  }

  #menu1 .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
  }

  #menu1 .nav li {
    display: inline;
    list-style: none;
    margin: 15px;
    font-size: 14px;
  }

  #menu1 .nav a {
    display: inline-block;
  }

  #menu1 li > a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    cursor: pointer;
    transition: color 1s;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }

  #menu1 li > a:hover {
    color: hsl(233, 26%, 24%);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(
      70deg,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    border-image-slice: 1;
    padding-bottom: 46px;
  }

  #menu1 #logoNav {
    padding-top: 50px;
  }

  #menu1 #buttonNav {
    margin-top: 35px;
  }

  #menu2 {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 120px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    top: 0px;
    position: fixed;
    padding: 0 50px;
  }

  #menu2 .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
  }

  #menu2 .nav li {
    display: inline;
    list-style: none;
    margin: 15px;
    font-size: 14px;
  }

  #menu2 .nav a {
    display: inline-block;
  }

  #menu2 li > a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    cursor: pointer;
    transition: color 1s;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }

  #menu2 li > a:hover {
    color: hsl(233, 26%, 24%);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(
      70deg,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    border-image-slice: 1;
    padding-bottom: 46px;
  }

  #menu2 #logoNav {
    padding-top: 10px;
  }

  #menu2 #buttonNav {
    margin-top: 35px;
  }

  #hamburger {
    cursor: pointer;
  }

  header {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #image {
    width: 100%;
    background-image: url(images/bg-intro-mobile.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 55vh;
  }

  #imagePrincipale {
    margin-top: -50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    width: 90%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: auto auto;
  }

  #choose {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #reasons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #reasons > div {
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #article {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
  }

  #divArticle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #divArticle > div {
    width: 100%;
    margin: 0px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
  }

  #divArticle > div > p {
    font-size: 0.8em;
  }

  .imageArticle {
    border-radius: 10px 10px 0px 0px;
  }

  .icone {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(233, 26%, 24%);
  }

  footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > div > a {
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
  }

  footer > div > a:hover {
    color: hsl(136, 65%, 51%);
  }

  .menuFooter {
    width: 150px;
    text-align: center;
  }

  #reseauxSociaux {
    width: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .logoReseauxSociaux {
    fill: hsl(0, 0%, 100%);
    transition: all 1s;
  }
  .logoReseauxSociaux:hover {
    fill: hsl(136, 65%, 51%);
  }

  #logoFooter {
    width: 200px;
    padding: 20px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .button {
    color: hsl(0, 0%, 100%);
    background: linear-gradient(70deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 50px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
  }
}

@media all and (max-width: 1024px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Public Sans", sans-serif;
    width: 100%;
    font-size: 18px;
    background-color: hsl(220, 16%, 96%);
    color: hsl(233, 8%, 62%);
    line-height: 1.5em;
  }

  p {
    padding: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Public Sans", sans-serif;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    padding: 10px;
    line-height: 1.5em;
  }

  h1 {
    font-size: 2.2em;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  }

  h3 {
    font-size: 1.8em;
    text-align: center;
  }

  h4 {
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.5s;
  }

  h4:hover {
    color: hsl(136, 65%, 51%);
  }

  h5 {
    font-size: 0.6em;
    color: hsl(233, 8%, 62%);
  }

  #menu1 {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 120px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    top: -120px;
    position: fixed;
    padding: 0 50px;
  }

  #menu1 .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
  }

  #menu1 .nav li {
    display: inline;
    list-style: none;
    margin: 15px;
    font-size: 14px;
  }

  #menu1 .nav a {
    display: inline-block;
  }

  #menu1 li > a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    cursor: pointer;
    transition: color 1s;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }

  #menu1 li > a:hover {
    color: hsl(233, 26%, 24%);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(
      70deg,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    border-image-slice: 1;
    padding-bottom: 46px;
  }

  #menu1 #logoNav {
    padding-top: 50px;
  }

  #menu1 #buttonNav {
    margin-top: 35px;
  }

  #menu2 {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    top: 0px;
    position: fixed;
    padding: 0 50px;
  }

  #menu2 .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
  }

  #menu2 .nav li {
    display: inline;
    list-style: none;
    margin: 15px;
    font-size: 14px;
  }

  #menu2 .nav a {
    display: inline-block;
  }

  #menu2 li > a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    cursor: pointer;
    transition: color 1s;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }

  #menu2 li > a:hover {
    color: hsl(233, 26%, 24%);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(
      70deg,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    border-image-slice: 1;
    padding-bottom: 46px;
  }

  #menu2 #logoNav {
    padding-top: 10px;
  }

  #menu2 #buttonNav {
    margin-top: 35px;
  }
  #hamburger {
    cursor: pointer;
  }

  header {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #image {
    width: 100%;
    background-image: url(images/bg-intro-mobile.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 55vh;
  }

  #imagePrincipale {
    margin-top: -50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    width: 90%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: auto auto;
  }

  #choose {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #reasons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #reasons > div {
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #article {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
  }

  #divArticle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #divArticle > div {
    width: 100%;
    margin: 0px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
  }

  #divArticle > div > p {
    font-size: 0.8em;
  }

  .imageArticle {
    border-radius: 10px 10px 0px 0px;
  }

  .icone {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(233, 26%, 24%);
  }

  footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > div > a {
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
  }

  footer > div > a:hover {
    color: hsl(136, 65%, 51%);
  }

  .menuFooter {
    width: 150px;
    text-align: center;
  }

  #reseauxSociaux {
    width: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .logoReseauxSociaux {
    fill: hsl(0, 0%, 100%);
    transition: all 1s;
  }
  .logoReseauxSociaux:hover {
    fill: hsl(136, 65%, 51%);
  }

  #logoFooter {
    width: 200px;
    padding: 20px;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .button {
    color: hsl(0, 0%, 100%);
    background: linear-gradient(70deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 50px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
  }
}
